.font {
  font-family: 'Montserrat', sans-serif;
}

.list-style {
  list-style-type: none;
}

.card-container {
  align-content: center;
  justify-content: center;
}

.card-styling {
  margin: 10px;
}
