<div class="row font card-container">
        <div class="card card-styling" style="width: 18rem;">
          <div class="card-body">
              <h5 class="card-title">Wirpo</h5>
              <h6 class="card-subtitle mb-2 text-muted">Project Engineer</h6>
              <p class="card-text">Consultant full-stack developer for a large retail bank. Helped to create an internal web-application with a team of developers, utilizing the following technologies:</p>
              <ul class="list-style">
                  <li *ngFor="let skill of wiproSkills">
                    {{skill}}
                  </li>
              </ul>
        </div>
    </div>

  <div class="card card-styling" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">University of Alabama - Student Project</h5>
          <h6 class="card-subtitle mb-2 text-muted">Full-stack Developer</h6>
          <p class="card-text">Worked with a team of other students to create and deliver a web application to a client who had contracted the University, leveraging the following technologies:</p>
          <ul class="list-style">
              <li *ngFor="let skill of wiproSkills">
                {{skill}}
              </li>
          </ul>
    </div>
  </div>
</div>


