<div class="font width">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">alec lankford</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/alecLankfordDev/personal-site" target="_blank">github</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/aleclankford/" target="_blank">linkedin</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:me@aleclankford.dev">hire me</a>
      </li>
    </ul>
</nav>
</div>

