.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 50%;
}

.slide-right h3 {
  animation: 1s slide-right 1s forwards;
    transform:translateX(-100%);
}

@keyframes slide-right {
  to {
    transform:translateX(0);
  }
}

/* Font */
.title {
  font-family: 'Montserrat', sans-serif;
}
